<.header>
  Edit Category <%= @category.id %>
  <:subtitle>Use this form to manage category records in your database.</:subtitle>
</.header>

<.category_form changeset={@changeset} action={~p"/categories/#{@category}"} options={@options || []} />

<.back navigate={~p"/categories"}>Back to categories</.back>
